h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat,sans-serif;
}

h1, h2 {
    font-weight: bold !important;
}

p, a, li, ul {
    font-family: 'Nunito Sans',sans-serif;
}

main .description  p {
    margin-bottom: 0px;
}

main p .space {
    padding-right: 25px;
}

main .schema-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .schema-ctn div {
    background-color: rgba(125, 125, 125, 0.9);
    width: 300px;
}

main .small-img {
    width: 300px;
}

main .info-schema {
    font-weight: bold;
}

main .flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .flex img {
    margin-left: 10px;
}

main #work,
main #militarisation {
    padding-bottom: 0px !important;
}

main #starlink {
    padding-top: 15px !important;
}

main #starlink img {
    width: 350px;
}

main #starlink h3 {
    text-decoration: underline;
    margin: 15px 0px;
}

main section:last-of-type img {
    margin-bottom: 15px;
}